//
//  Config.xcconfig
//  KleagueApp
//
//  Created by 최영건 on 6/25/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

RAPID_API_KEY = 51bb3fe3a2mshc34815e1d4aac36p1d7f58jsn848763975749
NMF_CLIENT_ID = cno4k7hscd
naverClientSecret
NEVER_CLIENT_SECRET = Pe5BhGpsW0kL2b4s7C0NMhVV7LejnI9L1YzqDVDp
KAKAO_API_KEY = KakaoAK 74c50c9804d434cb340e063b707662f4
GOOGLE_API_KEY = AIzaSyA0gwHnYBKIopJ-hQSao1XJV-Nm490v_4s

